
body {
  background: #202020
}

h1 {
  font-size: 150px;
  text-align: center;
  background-image: url(https://media.giphy.com/media/8uk5BEvTsZ7Og/giphy.gif);
  color: transparent;
  -webkit-background-clip: text;
  background-repeat: round;
  font-family: Harry Potter;
  letter-spacing: 15px;
  text-shadow: 0 0 30px #c0c0c0;
  opacity: 1;
  animation: title 3s ease-in-out 1 forwards;
}
h2 {
	font-size: 50px;
	margin: 100px 400px;
	text-align: center;
  color: white;
}

label {
  margin: auto;
  font-size: 30px;
  text-align: right;
  position: fixed;

}

hr {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

div#bar {
  background-image: linear-gradient(to right, green, white);
  display: flex;
  
}

div.container {
  display: flex;
}

div#people_container {
  color: #337b5d;
}
div .animation_container {
  display: flex;
  justify-content: center;
  margin: 5% auto;
}
.one {
  position: fixed;
  top: 40%;
  left: 10%;
}
.two {
  position: fixed;
  top: 40%;
  left: 80%;
}

div.cool {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid;
    border-radius: 50%;
    animation: circle 2s ease-in-out infinite alternate;
}

div.cool2 {
    height: 30px;
    width: 30px;
    border: 10px solid;
    animation: square 4s ease-in-out infinite forwards;
}
button {
  margin: auto;
  font-size: 30px;
  border-radius: 10px 10px;
  width: 15%;
  border-width: 0; 
  display: inline-grid;
  cursor: pointer;
  color:#ffffff;
  font-family: Arial;
  padding:20px 44px;

}

button:hover {
	transition: 1s;
	animation: anim 2s ease-in-out infinite alternate;
}


#yes_button {
	background-color:#5cbf2a;
}

#no_button {
	background-color:#df2323;
}
#dont_know {
	background-color:#999999;
}
#start {
	background-color:#aa11aa;
}

@font-face {
  font-family: Harry Potter;
  src: url("HarryPotterFont.ttf");
}

@font-face {
  font-family: Gan;
  src: url("Gan.ttf");
}

@keyframes anim {
	100% { transform: scale(1.1); }
}

@keyframes circle {
  0% {
    border-color: blue;
    transform: scale(1);
  }
  20% { 
    transform: scale(1.5);
    border-color: dodgerblue;
  }
  40% { 
    transform: scale(1.1);
    border-color: navy  
  }
  60% { 
    transform: scale(1.4);
    border-color: steelblue
  }
  80% { 
    transform: scale(1);
    border-color: blue
  }
  100% { 
    transform: scale(1.2);
    border-color: deepskyblue
  }
}


@keyframes square {
  20% { border-color: blueviolet;
        border-width: 20px;
        transform: rotate(20deg);
      }
  40% { border-color: darkviolet;
        border-width: 10px;
        transform: rotate(-40deg);
      }
  60% { border-color: slateblue;
        border-width: 30px;
        transform: rotate(340deg);
      }
  80% { border-color: darkmagenta;
        border-width: 5px;
        transform: rotate(70deg);
      }
  90% {  border-color: indigo }
  100% { border-color: blueviolet;
        border-width: 10px;
        transform: rotate(0);
      }        
}

@keyframes title {
  0% {
    opacity: 0;
    letter-spacing: 25px;
  }

  100% {
    opacity: initial;
    letter-spacing: initial;
  }
}








