body {
	background: #202020;
	justify-content: center;
}

label {
  font-size: 30px;
  text-align: center;
  display: block;
}

h1 {
  color: green; 
  font-size: 100px;
  text-align: center;
}	

button {
  margin: auto;
  font-size: 30px;
  border-radius: 10px 10px;
  width: 15%;
  border-width: 0; 
  display: inline-grid;
  cursor: pointer;
  color:#ffffff;
  font-family: Arial;
  padding:20px 44px;
  color: green;

}

button:hover {
	transition: 1s;
	animation: anim 2s ease-in-out infinite alternate;
}

div#bar {
  background-image: linear-gradient(to right, green, white);
  display: flex;
  
}

div.animation_container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 10%;
  left: 10%;
}

div.cool {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid;
    border-radius: 50%;
    animation: circle 2s ease-in-out infinite alternate;
}

div.cool2 {
    height: 30px;
    width: 30px;
    border: 10px solid;
    animation: square 4s ease-in-out infinite forwards;
}

@keyframes anim {
	100% { transform: scale(1.1); }
}

@keyframes circle {
  0% {
    border-color: blue;
    transform: scale(1);
  }
  20% { 
    transform: scale(1.5);
    border-color: dodgerblue;
  }
  40% { 
    transform: scale(1.1);
    border-color: navy  
  }
  60% { 
    transform: scale(1.4);
    border-color: steelblue
  }
  80% { 
    transform: scale(1);
    border-color: blue
  }
  100% { 
    transform: scale(1.2);
    border-color: deepskyblue
  }
}


@keyframes square {
  20% { border-color: blueviolet;
        border-width: 20px;
        transform: rotate(20deg);
      }
  40% { border-color: darkviolet;
        border-width: 10px;
        transform: rotate(-40deg);
      }
  60% { border-color: slateblue;
        border-width: 30px;
        transform: rotate(340deg);
      }
  80% { border-color: darkmagenta;
        border-width: 5px;
        transform: rotate(70deg);
      }
  90% {  border-color: indigo }
  100% { border-color: blueviolet;
        border-width: 10px;
        transform: rotate(0);
      }        
}